body{
    background-color: white;
    font-family: Outfit;
    max-width: 100%px;
    margin: 10;
    padding: 15px;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 .my-button {
    border: none;
    background-color: transparent;
 }
#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: black;
}

a:hover{
    color: #DC6B8A;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid #DC6B8A;
    padding: 10px;
    border-radius: 25px;
}


#conecte-se-btn{
    border: 2px solid #DC6B8A;
    padding: 10px;
    border-radius: 25px;
}

#conecte-se-btn{
    background-color: #DC6B8A;
    color: white;
}

.container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.left-colum {
    float: left;
    font-size: 20px;
    font-family: Outfit;
    width: 50%;
    word-wrap: break-word;
  }
  
.image-container {
    position: relative;
    left: 10%;
    border-radius: 50%;
    overflow: hidden;
    width: 500px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  

.btn{
    text-decoration: none;
    padding: 25px;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(90deg, #FDD3D5 0%, #F0C3FE 46.27%, #DBEEFF 96.47%);
    font-family: Outfit;
} 

.ajuda{
    text-decoration: none;
}

.cadastro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.cadastro-1 {
    width: 50%;
}

.image-container-final {
    width: 50%;
}
